.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;

}
.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loginLogo {
    margin-left: -50px;
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
    text-decoration: underline;
}
.loginDesc {
    margin-left: -50px;
    font-size: 24px;
}
.loginBox {
    margin-left: 2px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-between;

}
.loginInput {

    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 18px;
    padding-left: 20px;
}
.loginInput:focus {
    outline: none;
}
.loginButton {
    height: 50px;
    background-color: #1775ee;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.loginButton:disabled {
    cursor: not-allowed;
}
.loginForgot {
    text-align: center;
    color: #1775ee;
}
.createAccountButton {
    width: 50%;
    align-self: center;
    height: 50px;
    background-color: #42b75a;
    font-weight: 500;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25%;

}
